<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
</head>
<body>
  <header th:insert="blocks/header :: header"></header>
  <h3 th:text="'Owner:'"></h3>
  <a th:href="'/clients/'+${operationListDto.commonInfo.clientId}">
    <h4 th:text="${operationListDto.commonInfo.ownerFullName}"></h4>
  </a>
  <br>

  <h3 th:text="'Balance: '+${operationListDto.commonInfo.balance}+' '+${operationListDto.commonInfo.currency.toString()}"></h3>
  <br>

  <h3 th:text="'All operations related to ' + ${operationListDto.commonInfo.accountName} + ':'"></h3>

  <div th:each="operation : ${operationListDto.operations}">
    <a th:href="'/clients/'+${operationListDto.commonInfo.clientId}+'/account-'+${operationListDto.commonInfo.accountId}+'/operation-'+${operation.operationId}">
      <h4 th:text="${operation.operationDateTime.getDayOfMonth()}+' '+${operation.operationDateTime.getMonth().toString()}+' '+${operation.operationDateTime.getYear()}+' '+${operation.operationDateTime.getHour()}+':'+${operation.operationDateTime.getMinute()}+':'+${operation.operationDateTime.getSecond()}"></h4>
    </a>
  </div>

  <br>
  <h3>You might perform operations by clicking link below:</h3>
  <a th:href="'/clients/'+${operationListDto.commonInfo.clientId}+'/account-'+${operationListDto.commonInfo.accountId}+'/new-operation'">
    <h4 th:text="'Perform operation'"></h4>
  </a>
</body>
</html>